.form-container {
    max-width: 500px;
    margin: 0 auto;
    transition: background-color 0.3s ease;
    color: black;
    
  }

.btn-container {
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 100%;
}

::ng-deep .mat-datepicker-content {
  background-color: rgba(255, 255, 255, 1) !important; /* Change the color as needed */
}